<?xml version="1.0"?>
<launch>

    <!-- ************************ Change DIRECTORY here ********************** -->

    <!-- Database -->
    <param name="dir_dataset" value="$(find map_db_generator)/result_dataset_with_np" />


    <!-- True = ROS topic, False = Testset -->
    <param name="realtime_mode" value="False" />

    <!-- Test set.    - Use Only Realtime False-->
    <param name="dir_dataset_test" value="$(find map_db_generator)/result_testset" />

    <!-- Input data.  - Use Only Realtime True-->
    <param name="left_image_topic_name" value="/camera1/color/image_raw/compressed" />
    <param name="right_image_topic_name" value="/camera2/color/image_raw/compressed" />
    <param name="image_height" value="480" />
    <param name="image_width" value="640" />
    <!-- ********************************************************************* -->


    <!--  PACKAGES  -->
    <param name="dir_package" value="$(find VPS_localizer)" />
    <node pkg="VPS_localizer" type="kidnapper.py" name="kidnapper" output="screen" />

</launch>